In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Import our input dataset
team_df = pd.read_csv('Resources/clean_team_data.csv')
team_df.head()

,team,kp_adj_eff,kp_adj_off,kp_adj_def,seed,school,year,tournament_wins
0,2022 Kansas,25.5,119.4,93.9,1,Kansas,2022,6
1,2022 Arizona,27.2,119.6,92.4,1,Arizona,2022,2
2,2022 Gonzaga,33.0,121.8,88.8,1,Gonzaga,2022,2
3,2022 Baylor,26.3,117.9,91.6,1,Baylor,2022,1
4,2022 Duke,23.7,119.4,95.7,2,Duke,2022,4