In [1]:
import pandas as pd

In [2]:
# Read in CSV. Name of dataframe is meant to correct  incorrect name of 
tourney_score_df = pd.read_csv('Resources/Tournament Team Data.csv')
tourney_score_df

,YEAR,SEED,TEAM,TEAM ROUND,CURRENT ROUND,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,...,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE,SCORE,ID,TEAM.1
0,2022,1,Gonzaga,16,64,33.0000,121.800,88.8000,72.5000,31.800,...,71.0,6.6,17.0,6.7,89.660000,1.190,0.885,93,1,Gonzaga
1,2022,16,Georgia St.,64,64,1.8000,101.500,99.7000,67.1000,1.400,...,67.2,8.9,22.7,-5.2,60.000000,0.993,0.978,72,2,Georgia St.
2,2022,8,Boise St.,64,64,16.4000,108.400,92.0000,64.6000,15.200,...,69.4,8.9,20.1,3.5,78.790000,1.038,0.928,53,3,Boise St.
3,2022,9,Memphis,32,64,16.2000,110.400,94.1000,70.3000,17.500,...,62.5,9.1,20.9,1.4,67.740000,1.056,0.957,64,4,Memphis
4,2022,5,Connecticut,64,64,19.3000,113.900,94.6000,64.9000,18.600,...,62.0,8.3,18.0,3.2,71.880000,1.099,0.953,63,5,Connecticut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1903,2023,5,Miami FL,0,0,15.9173,117.103,101.1850,67.7143,14.973,...,68.0,8.1,18.5,1.5,76.190476,1.132,1.013,0,0,Miami FL
1904,2023,1,Houston,0,0,30.1797,117.454,87.2747,62.9998,29.814,...,62.0,7.2,22.9,4.7,90.909091,1.170,0.852,0,0,Houston
1905,2023,5,Rutgers,0,0,19.9569,106.343,86.3864,65.2614,18.955,...,66.0,9.3,23.2,0.5,70.000000,1.039,0.847,0,0,Rutgers
1906,2023,1,Tennessee,0,0,29.5396,112.221,82.6819,66.9930,28.991,...,62.0,8.4,24.6,3.3,85.714286,1.097,0.804,0,0,Tennessee
1907,2023,5,Connecticut,0,0,24.8013,116.651,91.8497,67.3417,23.650,...,64.0,8.6,20.6,2.0,72.727273,1.132,0.919,0,0,Connecticut

In [3]:
# Drop rows with 2023 data (games not yet played)
clean_score_df = tourney_score_df[tourney_score_df["YEAR"] != 2023]
clean_score_df

,YEAR,SEED,TEAM,TEAM ROUND,CURRENT ROUND,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,...,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE,SCORE,ID,TEAM.1
0,2022,1,Gonzaga,16,64,33.0,121.8,88.8,72.5,31.8,...,71.0,6.6,17.0,6.7,89.66,1.190,0.885,93,1,Gonzaga
1,2022,16,Georgia St.,64,64,1.8,101.5,99.7,67.1,1.4,...,67.2,8.9,22.7,-5.2,60.00,0.993,0.978,72,2,Georgia St.
2,2022,8,Boise St.,64,64,16.4,108.4,92.0,64.6,15.2,...,69.4,8.9,20.1,3.5,78.79,1.038,0.928,53,3,Boise St.
3,2022,9,Memphis,32,64,16.2,110.4,94.1,70.3,17.5,...,62.5,9.1,20.9,1.4,67.74,1.056,0.957,64,4,Memphis
4,2022,5,Connecticut,64,64,19.3,113.9,94.6,64.9,18.6,...,62.0,8.3,18.0,3.2,71.88,1.099,0.953,63,5,Connecticut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1757,2010,1,Duke,1,2,31.5,119.3,87.7,65.0,31.5,...,59.6,9.6,21.9,8.4,85.29,1.155,0.914,61,753,Duke
1758,2009,2,Michigan St.,2,2,22.8,112.7,89.9,66.0,22.6,...,59.1,7.9,20.8,7.4,81.25,1.079,0.944,72,783,Michigan St.
1759,2009,1,North Carolina,1,2,28.6,122.6,94.1,72.5,28.9,...,59.5,9.7,20.7,7.7,87.10,1.177,0.959,89,817,North Carolina
1760,2008,1,Kansas,1,2,34.0,121.4,87.5,66.9,35.4,...,62.0,6.5,22.9,9.9,90.91,1.173,0.891,68,849,Kansas
1761,2008,1,Memphis,2,2,29.4,114.7,85.3,67.7,29.5,...,62.2,8.2,23.3,8.9,97.06,1.121,0.853,75,865,Memphis

In [4]:
# Create a new "team" column that combines values from "YEAR" and "TEAM" columns
clean_score_df['team'] = clean_score_df['YEAR'].astype(str) + ' ' + clean_score_df['TEAM'].astype(str)
clean_score_df.head()

C:\Users\johnm\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,YEAR,SEED,TEAM,TEAM ROUND,CURRENT ROUND,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,...,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE,SCORE,ID,TEAM.1,team
0,2022,1,Gonzaga,16,64,33.0,121.8,88.8,72.5,31.8,...,6.6,17.0,6.7,89.66,1.190,0.885,93,1,Gonzaga,2022 Gonzaga
1,2022,16,Georgia St.,64,64,1.8,101.5,99.7,67.1,1.4,...,8.9,22.7,-5.2,60.00,0.993,0.978,72,2,Georgia St.,2022 Georgia St.
2,2022,8,Boise St.,64,64,16.4,108.4,92.0,64.6,15.2,...,8.9,20.1,3.5,78.79,1.038,0.928,53,3,Boise St.,2022 Boise St.
3,2022,9,Memphis,32,64,16.2,110.4,94.1,70.3,17.5,...,9.1,20.9,1.4,67.74,1.056,0.957,64,4,Memphis,2022 Memphis
4,2022,5,Connecticut,64,64,19.3,113.9,94.6,64.9,18.6,...,8.3,18.0,3.2,71.88,1.099,0.953,63,5,Connecticut,2022 Connecticut

In [5]:
# Only keep "team", "CURRENT ROUND", "SEED", "SCORE" columns
clean_score_df = clean_score_df[["team", "CURRENT ROUND", "SEED", "SCORE"]]
clean_score_df

                     team  CURRENT ROUND  SEED  SCORE
0            2022 Gonzaga             64     1     93
1        2022 Georgia St.             64    16     72
2          2022 Boise St.             64     8     53
3            2022 Memphis             64     9     64
4        2022 Connecticut             64     5     63
...                   ...            ...   ...    ...
1757            2010 Duke              2     1     61
1758    2009 Michigan St.              2     2     72
1759  2009 North Carolina              2     1     89
1760          2008 Kansas              2     1     68
1761         2008 Memphis              2     1     75

[1762 rows x 4 columns]

In [6]:
# Rename the columns
clean_score_df.rename(columns = {'CURRENT ROUND':'current_round', 'SEED':'seed',
                              'SCORE':'score'}, inplace = True)
clean_score_df.head()

C:\Users\johnm\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

               team  current_round  seed  score
0      2022 Gonzaga             64     1     93
1  2022 Georgia St.             64    16     72
2    2022 Boise St.             64     8     53
3      2022 Memphis             64     9     64
4  2022 Connecticut             64     5     63

In [7]:
# Add "index" label to index column so this table will have a primary key
clean_score_df.index.name = "index"
clean_score_df.head()

                   team  current_round  seed  score
index
0          2022 Gonzaga             64     1     93
1      2022 Georgia St.             64    16     72
2        2022 Boise St.             64     8     53
3          2022 Memphis             64     9     64
4      2022 Connecticut             64     5     63

In [8]:
# Export datafrome to csv file
file_path = 'Resources/clean_score_data.csv'
clean_score_df.to_csv(file_path)